<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.7.2/css/all.min.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="/css/EmpleadoIndex.css">
    <link rel="stylesheet" href="/css/Shared.css">
    <title>Sistema de ventas</title>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
    <style>


    </style>
</head>
<body>
    <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2f2f46;">
                <div class="container-fluid">
                <img src="/img/LogoPlanilla.png" alt="" width="70" height="auto" class="border-1 rounded-1 px-3">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOpciones" aria-controls="navbarOpciones" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarOpciones">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white navbar-title" th:href="@{/empleados/}">Empleados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white navbar-title" th:href="@{/planillas/}">Planillas</a>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>
    </header>
</body>
</html>