<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="Layout/plantilla :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:replace="Layout/plantilla :: header"></header>

    <div class="container">
        <div class="row mt-3">
            <div class="col-2 mt-2">
                <a th:href="@{/planillas/}" class="btn btn-secondary text-center shadow-lg">Volver</a>
            </div>
            <div class="col-8 text-center">
                <h1 class="titulo">
                    Generar planilla
                </h1>
                <div class="border-bottom-accent"></div>
            </div>
            <div class="col-2 mt-2 text-center ">
                <a th:href="@{/planillas/listarEmpleados}" class="btn btn-primary shadow-sm">Empleados activos</a>
            </div>
        </div>
        <div class="row mt-5 text-center mx-auto card p-4 shadow-lg border-0">
            <div class="d-flex justify-content-center ">
                <form class="row g-2 align-items-center">

                    <!-- Tipo Planilla -->
                    <div class="col-auto m-2">
                        <div class="input-group shadow-sm">
                            <span class="input-group-text bg-light" id="lblTipoPlanilla">Tipo</span>
                            <select class="form-select" id="tipo_planilla" name="tipo_planilla" required>
                                <option value="">Seleccione</option>
                                <option value="Ordinaria">Ordinaria</option>
                                <option value="Extraordinaria">Extraordinaria</option>
                            </select>
                        </div>
                    </div>


                    <!-- Fecha Planilla -->
                    <div class="col-auto m-2">
                        <div class="input-group shadow-sm">
                            <span class="input-group-text" id="lblFechaPlanilla">Planilla</span>
                            <input type="date" class="form-control" id="fecha_planilla" name="fecha_planilla" required>
                        </div>
                    </div>

                    <!-- Fecha Pago Quincenal -->
                    <div class="col-auto m-2">
                        <div class="input-group shadow-sm">
                            <span class="input-group-text" id="lblPagoQuincenal">Pago quincenal</span>
                            <input type="date" class="form-control" id="fecha_pago_quincenal"
                                name="fecha_pago_quincenal" required>
                        </div>
                    </div>

                    <!-- Fecha Pago Mensual -->
                    <div class="col-auto m-2 ">
                        <div class="input-group shadow-sm">
                            <span class="input-group-text" id="lblPagoMensual">Pago Mensual</span>
                            <input type="date" class="form-control" id="fecha_pago_mensual" name="fecha_pago_mensual"
                                required>
                        </div>
                    </div>


                </form>

            </div>
        </div>
        <div class="row mx-auto w-25 mt-5 ">
            <button type="submit" class="btn btn-primary shadow-sm p-2">Generar planilla</button>
        </div>
    </div>


</body>

</html>